.gallery-container-wrap{
    margin-top: 30px;
    z-index: 1;
    position: relative;
}

.ps-gallery-block-inner{
    z-index: 2;
    display: block;
    position: relative;
}

.ps-gallery-block-content{
    position: relative;
    display: block;
    padding: 15px;
    margin-bottom: 16px;
}

.ps-entry-content p{
    color: #fff;
    line-height: 20px;
}

.ps-gallery-block-bg{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    display: block;
    overflow: hidden;
}

.ps-gallery-block-bg:before{
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(45deg, #500b90 0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(45deg, #500b90 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#007db9e8', GradientType=1);
    opacity: 0.85;
    filter: alpha(opacity=85);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.1);
}

.ps-gallery-block-content:hover .ps-gallery-block-bg:before {
    opacity: 0.1;
    filter: alpha(opacity=10);
}

.ps-post-image{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    background-repeat: no-repeat;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    transition: transform 15s ease, opacity .4s;
    -webkit-transition: -webkit-transform 15s ease, opacity 0.4s;
    -moz-transition: -moz-transform 15s ease, opacity 0.4s;
}


.ps-gallery-block-content:hover .ps-gallery-block-bg .ps-post-image {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.gallery-block-entry-header{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    padding: 30px;
}

.ps-entry-date{
    color: #fff;
    font-size: 13px;
}

.ps-entry-date i{
    margin-right: 10px;
}

.ps-gallery-comment{
    color: #fff;
}

.ps-entry-category{
    padding: 5px;
}

.ps-gallery-block-large .ps-gallery-block-content{
    min-height: 500px;
}

.ps-gallery-block-small .ps-gallery-block-content{
    min-height:242px;
}

.ps-gallery-block-large .ps-entry-title a{
    font-size: 35px;
    color: #fff;
    font-weight: 700;
}

.ps-gallery-block-small .ps-entry-title a{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    display: block;
    line-height: 22px;
}

.ps-gallery-block-small .ps-entry-category a{
    padding: 0px 10px;
    background: #f45b16;
    color: #fff;
    margin-top: 10%;
    display: inline-block;
    margin-left: -20px;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
}



.ps-gallery-block-large .ps-entry-category a{
    padding: 0px 10px;
    background: #4ecbf4;
    color: #fff;
    margin-top: 30%;
    display: inline-block;
    margin-left: -20px;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
}



/*layout adjustment*/
.ps-gallery-block.gallery212:last-child{
    position: absolute;
    bottom: 0;
    padding-right: 7px;
}

.ps-gallery-block{
}

.ps-gallery-block.gallery1221:last-child{
    position: absolute;
    bottom: 0;
    right:0;
    padding-right: 0px;
}

.ps-gallery-block.gallery1221:nth-child(5) {
    clear: left;
}


/*gallerycarousel*/
.gallerycarousel .ps-gallery-block-content{
    min-height: 250px;
}

.gallerycarousel .ps-entry-category a{
    padding: 0px 10px;
    background: #f45b16;
    color: #fff;
    margin-top: 10%;
    display: inline-block;
    margin-left: -20px;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
}

.gallerycarousel .ps-entry-title a{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    display: block;
    line-height: 22px;
}

.ps-slider-wrapper-class{
    padding-top: 30px;
}


/*media quiries*/
@media only screen and (max-width: 991px) {

    .ps-gallery-block.gallery1221:last-child{
        position: relative !important;
        padding-right: 15px !important;
    }
    .ps-gallery-block.gallery212:last-child{
        position: relative !important;
    }
    .ps-gallery-block.gallery1221:nth-child(5){
        clear: both;
    }

}
